
mat-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    text-align: left;
    height: 100%;
    padding: 0 24px 24px;

}

span.year{
    left: 0;
    box-sizing: border-box;
    position: absolute;
    background: rgba(63, 81, 181, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
}

mat-card-content{
    box-sizing: border-box;
    flex: 1 0 auto;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.mat-card-header-text{
    margin: 0;
}

mat-card-actions{
    box-sizing: border-box;
    align-self: flex-end;
}